[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #00684A;
    --md-accent-fg-color:        #00684A;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #00684A;
    --md-accent-fg-color:        #FFFFFF;
}
